
.hero-image{
    background-image: linear-gradient(rgba(79, 68, 68, 0.5), rgba(79, 68, 68, 0.5)), url("../../public/images/D.jpeg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
